.center-panel {
    overflow: hidden;
    padding-left: 10px;
    height: auto;
}

.main-panel {
    height: 99.5vh;
    overflow: auto;
}

div.title-style {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
}

div.title-style textarea {
    font-weight: 600;
    font-size: 27px;
    min-width: 100%; 
    outline: none;
    border: none;
    font-family: inherit;
    resize: none;
    height: 32px;
}

div.line-style {
    width: 100%;
    height: 20px;
    margin-bottom: 2px;
    margin-left: 22px;
}

div.markdown::before, div[contenteditable="true"]::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 3px;
    border: 3px solid #394b59; 
    border-radius: 3px;
}

.markdown {
    padding: 0px;
    height: 12px;
    width: 100%;
    display: -webkit-inline-box;
}

.ce-toolbar--opened {
    display: none;
}

.markdown-input {
    font-size: 16px;
    min-width: 100%;
    outline: none;
    border: none;
    font-family: inherit;
    height: 20px;
    padding: 0px;
}

#editor-top-bar {
    height: 20px;
    margin-top: 10px;
}

#editor-status {
    float: left;
    padding-left: 10px;
    padding-top: 7px;
}

#delete-span {
    float: right;
    margin-right: 10px;
    border: 1px solid #eeeeee;
    border-radius: 8px;
    padding: 6px;
    color: #232323;
    font-size: 14px;
    background: #eeeeee;
    cursor: pointer;
    user-select: none;
}

#delete-span:hover {
    background: #ececec;
    color: #333333;
    transition: 0.2s all;
}

#delete-span:active {
    background-color: #e01a4f;
    border: 1px solid #e01a4f;
    color: #efefef;
    transition: 0.1s all;
}

#delete-span:active .gg-trash {
    color: #eeeeee;
}

.storing .gg-disc {
    color: #d69e2e;
    transition: 0.5s all;
}

.loaded .gg-disc {
    color: #38a169;
    transition: 0.5s all;
}

.hidden {
    opacity: 0;
    height: 0px;
}

.hide {
    display: none;
}
